---
import BrowserWindow from "../components/BrowserWindow.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Development">
  <div class="flex w-full h-full items-left justify-center flex-col">
    <BrowserWindow url="dev.com">
      <div
        class="flex h-full w-full flex-row items-start justify-start overflow-scroll bg-black bg-opacity-50 bg-clip-padding backdrop-blur-md backdrop-filter"
      >
        <div class="w-1/2 rounded-lg p-8">
          <div class="mb-4">
            <span class="text-green-500"> david@davids-macbook-pro:</span>
            <span class="text-white">~$</span>
            <span class="md:inline-block hidden">&nbsp;</span>
            <span class="text-gray-300"> ls languages</span>
          </div>

          <ul class="mb-4 grid grid-cols-2 text-green-500">
            <li>Typescript</li>
            <li>Javascript</li>
            <li>Python</li>
            <li>HTML</li>
            <li>Golang</li>
            <li>CSS</li>
            <li>Java</li>
            <li>C</li>
          </ul>

          <div class="mb-4">
            <span class="text-green-500"> david@davids-macbook-pro:</span>
            <span class="text-white">~$</span>
            <span class="md:inline-block hidden">&nbsp;</span>
            <span class="text-gray-300"> ls technologies</span>
          </div>
          <ul class="mb-4 grid grid-cols-2 text-green-500">
            <li>React</li>
            <li>Node.js</li>
            <li>Next.js</li>
            <li>React Native</li>
            <li>Ionic</li>
            <li>TailwindCss</li>
            <li>MaterialUI</li>
            <li>Vite</li>
            <li>FastAPI</li>
            <li>Temporal</li>
            <li>Express.js</li>
            <li>PostgreSQL</li>
            <li>NoSQL</li>
            <li>Redis</li>
          </ul>
          <div class="mb-4">
            <span class="text-green-500"> david@davids-macbook-pro:</span>
            <span class="text-white">~$</span>
            <span class="md:inline-block hidden">&nbsp;</span>
            <span class="text-gray-300"> ls experience</span>
          </div>
          <ul class="mb-4 grid grid-cols-2 text-green-500">
            <li>Trava Security</li>
            <li>Lula Inc.</li>
            <li>Comcast Corporation</li>
            <li>VyB Technologies, LLC</li>
            <li>SIG</li>
          </ul>
        </div>
        <div class="w-1/2 rounded-lg p-8">
          <div class="mb-4">
            <span class="text-green-500"> david@davids-macbook-pro:</span>
            <span class="text-white">~$</span>
            <span class="md:inline-block hidden">&nbsp;</span>
            <span class="text-gray-300"> cat deveoper.txt</span>
          </div>
          <pre
            class="whitespace-pre-line text-green-500">
                With four years of experience as a full-stack developer, I am deeply passionate about bridging the gap between people and technology. I find immense satisfaction in creating seamless user experiences that bring value to individuals. My technical expertise allows me to craft elegant solutions that positively impact the way people interact with technology.
              
                In addition to my technical skills, I am a firm believer in the power of collaboration. Bringing my personality and humor to technology teams is not just about making the workplace more pleasant, but also about fostering creativity and innovation. I am dedicated to not only delivering exceptional products but also ensuring that the process of creating them is enjoyable and rewarding for everyone involved.
              </pre>
        </div>
      </div>
    </BrowserWindow>
  </div>

  <style></style>
</Layout>
