---
import Layout from "../layouts/Layout.astro";
import { AnimatedText } from "../components/AnimatedText.tsx";
---

<Layout
  title="Home"
  description="David D'Apice - software engineer, photographer, and creative. Explore my projects, development work, photography, and DJ sets."
>
  <div
    class="fixed top-1/2 -translate-y-1/2 w-full sm:w-max h-max items-center justify-center flex-col px-4 sm:pl-12 max-w-[calc(100vw-2rem)] sm:max-w-none"
  >
    <AnimatedText
      className="text-white text-4xl sm:text-6xl lg:text-9xl font-JetbrainsMono"
      text="David D'Apice"
      client:load
    />
    <AnimatedText
      className="text-white text-sm sm:text-xl lg:text-2xl pl-1 sm:pl-2 font-JetbrainsMono mt-2 sm:mt-5"
      text="Tech Lead & Software Engineer | Photographer | DJ | Music Nerd"
      client:load
    />
  </div>
</Layout>
