---
import Layout from "../layouts/Layout.astro";
import { AnimatedText } from "../components/AnimatedText.tsx";
---

<Layout title="Home">
  <div
    class="fixed top-1/2 -translate-y-1/2 w-max h-max items-center justify-center flex-col pl-12"
  >
    <AnimatedText
      className="text-white text-9xl font-JetbrainsMono"
      text="David D'Apice"
      client:load
    />
    <AnimatedText
      className="text-white text-2xl pl-2 font-JetbrainsMono mt-5"
      text="Software Engineer | Photographer | Creative | Music Nerd"
      client:load
    />
  </div>
</Layout>
