---
import BrowserWindow from "../components/BrowserWindow.astro";
import Layout from "../layouts/Layout.astro";
import { ImageGrid } from "../components/ImageGrid";

const images = await Astro.glob("/src/assets/photos/*").then((files) => {
  return files.map((file) => file.default);
});
---

<Layout title="David D'Apice">
  <div class="flex w-full h-full items-left justify-center flex-col">
    <BrowserWindow url="photography.com">
      <div class="overflow-scroll w-full h-full">
        <ImageGrid
          imageSources={images.map((image) => image.src)}
          client:only="react"
        />
      </div>
    </BrowserWindow>
  </div>
</Layout>
