---
import { getCollection, type CollectionEntry } from "astro:content";
import BrowserWindow from "../components/BrowserWindow.astro";
import Layout from "../layouts/Layout.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
const allProjects = await getCollection("projects");
---

<Layout title="Projects">
  <div class="flex w-full h-full items-left justify-center flex-col">
    <BrowserWindow url="dev.com">
      <div
        class="flex h-full w-full flex-col items-center justify-center overflow-scroll bg-white bg-opacity-30 bg-clip-padding backdrop-blur-md backdrop-filter"
      >
        <ImageCarousel projects={allProjects} />
      </div>
    </BrowserWindow>
  </div>
</Layout>
<style></style>
