---
import BrowserWindowComponent from "./BrowserWindow";
interface Props {
  url: string;
}
const { url } = Astro.props;
---

<div class="relative w-full h-full">
  <BrowserWindowComponent url={url} client:only="react">
    <slot />
  </BrowserWindowComponent>
</div>
