---
interface Props {
  url: string;
}
const { url } = Astro.props;
---

<div class="relative w-full h-full">
  <BrowserWindow url={url} client:only>
    <slot />
  </BrowserWindow>
</div>

<script>
  import BrowserWindow from "./BrowserWindow";
</script>
