---
const { link, platform } = Astro.props;
---

<a
  class="w-fit h-16 flex flex-col justify-center items-centyer mx-5"
  href={link}
  target="#blank"
  ><slot /><h1
    class="text-white font-JetbrainsMono text-sm text-center hover:underline"
  >
    {platform}
  </h1></a
>
