---
import { Navigation } from "../components/Navigation";
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
import image from "../assets/backgrounds/background.jpg";
import { Image } from "astro:assets";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
</html>
<main class="flex w-screen h-screen">
  <Image
    src={image}
    alt="background image"
    class="absolute inset-0 w-full h-full"
  />
  <div class="z-20">
    <slot />
  </div>
  <footer
    class="z-20 fixed bottom-0 left-0 flex h-16 w-full items-center justify-center px-4 text-gray-700"
  >
    <Navigation client:load />
  </footer>
</main>
<style>
  @font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
